[submodule "cloud/oracle/bastion"]
	path = cloud/oracle/bastion
	url = https://github.com/browningluke-homelab/oracle-bastion.git
[submodule "boxie/100_terra/docker"]
	path = boxie/100_terra/docker
	url = https://github.com/browningluke-homelab/terra-docker.git
