qbt.{$DOMAIN} {
    reverse_proxy {$LOCAL_IP}:8080
    tls {$TLSEMAIL} 
    tls {$CERTPATH} {$KEYPATH} 
}

dash.{$DOMAIN} {
    reverse_proxy {$LOCAL_IP}:5000
    tls {$TLSEMAIL}
    tls {$CERTPATH} {$KEYPATH}
}

handbrake.{$DOMAIN} {
    reverse_proxy {$LOCAL_IP}:5800
    tls {$TLSEMAIL}
    tls {$CERTPATH} {$KEYPATH}
}

jackett.{$DOMAIN} {
    reverse_proxy {$LOCAL_IP}:9117
    tls {$TLSEMAIL}
    tls {$CERTPATH} {$KEYPATH}
}

jupyter.{$DOMAIN} {
    reverse_proxy {$LOCAL_IP}:10000
    tls {$TLSEMAIL}
    tls {$CERTPATH} {$KEYPATH}
}

ombi.{$DOMAIN} {
    reverse_proxy {$LOCAL_IP}:3579
    tls {$TLSEMAIL}
    tls {$CERTPATH} {$KEYPATH}
}

pf.{$DOMAIN} {
    reverse_proxy 10.8.0.1:80
    tls {$TLSEMAIL}
    tls {$CERTPATH} {$KEYPATH}
}

pihole.{$DOMAIN} {
    reverse_proxy 10.8.0.161:80
    tls {$TLSEMAIL}
    tls {$CERTPATH} {$KEYPATH}
}

plex.{$DOMAIN} {
    reverse_proxy 10.8.0.161:32400
    tls {$TLSEMAIL}
    tls {$CERTPATH} {$KEYPATH}
}

port.{$DOMAIN} {
    reverse_proxy {$LOCAL_IP}:9000
    tls {$TLSEMAIL}
    tls {$CERTPATH} {$KEYPATH}
}

pwn.{$DOMAIN} {
    reverse_proxy {$LOCAL_IP}:4040 
    tls {$TLSEMAIL}
    tls {$CERTPATH} {$KEYPATH}
}

pyload.{$DOMAIN} {
    reverse_proxy {$LOCAL_IP}:4000
    tls {$TLSEMAIL}
    tls {$CERTPATH} {$KEYPATH}
}

radarr.{$DOMAIN} {
    reverse_proxy {$LOCAL_IP}:7878
    tls {$TLSEMAIL}
    tls {$CERTPATH} {$KEYPATH}
}

sonarr.{$DOMAIN} {
    reverse_proxy {$LOCAL_IP}:8989
    tls {$TLSEMAIL}
    tls {$CERTPATH} {$KEYPATH}
}

tautulli.{$DOMAIN} {
    reverse_proxy {$LOCAL_IP}:8989
    tls {$TLSEMAIL}
    tls {$CERTPATH} {$KEYPATH}
}

code.{$DOMAIN} {
    reverse_proxy {$LOCAL_IP}:8443
    tls {$TLSEMAIL}
    tls {$CERTPATH} {$KEYPATH}
}

scrutiny.{$DOMAIN} {
    reverse_proxy 10.8.0.116:8080
    tls {$TLSEMAIL}
    tls {$CERTPATH} {$KEYPATH}
}

komga.{$DOMAIN} {
    reverse_proxy {$LOCAL_IP}:8181
    tls {$TLSEMAIL}
    tls {$CERTPATH} {$KEYPATH}
}

nextcloud.{$DOMAIN} {
    reverse_proxy 10.8.0.109:6969
    tls {$TLSEMAIL}
    tls {$CERTPATH} {$KEYPATH}
}
