<div class='content'>

<pre id="typewriter">Good <span id="typewriter2"></span> Luke. The current time is <span id="typewriter1"></span></pre>
  
</div>

<style>
.content {
  display: flex;
  justify-content: center;
}


#typewriter {
    color: #FF9800;
	font-size: 1.5em;
	margin: 0;
	font-family: "Courier New";
}

#typewriter::after {
	content: "|";
	color: #FF9800;
	animation: blink 500ms linear infinite alternate;
}

@-webkit-keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@-moz-keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
</style>